<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://s1.ax1x.com/2020/05/15/YrME1U.th.jpg"
    />
    <link rel="stylesheet" href="/umi.3ccf623b.css" />
    <script>
      window.routerBase = "/";
    </script>
    <script>
      //! umi version: 3.1.4
    </script>
    <title>Button</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/umi.54c5ac97.js"></script>
  </body>
</html>
